$mainColor: #000;
.brand-logo {
    padding-left: 20px !important;
}

nav {
    background-color: $mainColor
}

.download-icon {
    vertical-align: middle !important;
    padding-right: 10px;
}

.flavor {
    text-transform: capitalize;
}

.card.green.darken-3 a {
    color: #000036;
}

body a {
    color: #000036;
}

.page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

.profile {
    margin-top: 20px;
    .profile-card {
        text-align: center;
        .socail-list {
            list-style: none;
        }
    }
    .profile-image {
        margin-top: 20px;
    }
}
