<!DOCTYPE html>
<html>

<head>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/lib/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <ul id="dropdown-user" class="dropdown-content">
        <li><a href="/user/profile">Profile</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/manage">Manage</a></li>
        <li class="divider"></li>
        <li><a href="#!">Logout</a></li>
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">MCPR</a>
                <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown-user">User<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="https://hexagonminecraft.com" target="_blank">HexagonMinecraft</a></li>
                </ul>
                <ul class="side-nav" id="mobile">
                    <li><a href="https://hexagonminecraft.com" target="_blank">HexagonMinecraft</a></li>
                </ul>
            </div>
        </nav>
    </div>
    {{{body}}}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="/lib/materialize/dist/js/materialize.min.js"></script>

    <script type="text/javascript" src="/js/app.min.js"></script>
</body>

</html>