<div class="container">
    <div class="row">
        <form class="col s8" name="profileForm">
            <h3>Edit Profile</h3>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-value="profile.name" ng-model="profile.name" placeholder="e.g. John Smith" id="name" type="text" class="validate">
                    <label for="name">Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-value="profile.website" ng-model="profile.website" placeholder="e.g. https://example.com" id="website" type="text"
                        class="validate">
                    <label for="website">Website</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input ng-value="profile.github" ng-model="profile.github" placeholder="e.g. jsmith" id="github" type="text" class="validate">
                    <label for="github">GitHub Username</label>
                </div>
                <div class="input-field col s4">
                    <input ng-value="profile.gitlab" ng-model="profile.gitlab" placeholder="e.g. jsmith" id="gitlab" type="text" class="validate">
                    <label for="gitlab">GitLab Username</label>
                </div>
                <div class="input-field col s4">
                    <input ng-value="profile.twitter" ng-model="profile.twitter" placeholder="e.g. jsmith" id="twitter" type="text" class="validate">
                    <label for="twitter">Twitter Username</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" ng-click="save(profile)">Save</button>
        </form>
        <div class="col s4 center gravatar">
            <h3>Gravatar</h3>
            <img class="circle responsive-img profile-image" ng-src="https://www.gravatar.com/avatar/{{profile.hashedEmail}}?s=200" alt="Profile picture"></img>
            <a href="https://en.gravatar.com/emails/" class="btn waves-effect waves-light">Change Avatar</a>
        </div>
    </div>

</div>
