<footer class="page-footer green darken-4">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">MCPR
                    <a href="https://docs.mcpr.io/about/roadmap" target="_blank" rel="noopener">
                        <small>Beta</small>
                    </a>
                </h5>
                <p class="grey-text text-lighten-4">The ultimate Minecraft Plugin Registry!</p>
                <p></p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Project</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://cli.mcpr.io" target="_blank"
                            rel="noopener">MCPR-CLI</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://tests.mcpr.io" target="_blank"
                            rel="noopener">MCPR-Test-Bot</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="https://status.mcpr.io" target="_blank"
                            rel="noopener">MCPR System Status</a>
                    </li>
                </ul>
            </div>
            <div class="col l4 s12" style="overflow: hidden;">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li>
                        <a href="https://slack.mcpr.io">
                            <img data-src="https://slack.mcpr.io/badge.svg" alt="Slack Badge">
                        </a>
                    </li>
                    <li>
                        <iframe
                            src="https://ghbtns.com/github-btn.html?user=mcpr&amp;repo=mcpr&amp;type=watch&amp;count=true&amp;size=large"
                            allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
                    </li>
                    <li>
                        <a href="https://twitter.com/NoahPrail" class="twitter-follow-button" data-size="large"
                            data-show-count="false">Follow @NoahPrail</a>
                    </li>
                </ul>
                <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; {{year}}
            <a href="https://nprail.me">Noah Prail</a>
            <a class="grey-text text-lighten-4 right" data-target='disclaimerModal' modal>Disclaimer</a>
        </div>
    </div>
    <div id="disclaimerModal" class="modal">
        <div class="modal-content">
            <h3>Disclaimer</h3>

            <p>This disclaimer ("Disclaimer", "Agreement") is an agreement between MCPR ("MCPR", "us", "we" or "our")
                and you
                ("User", "you" or "your"). This Disclaimer sets forth the general guidelines, terms and conditions of
                your
                use of the
                <a target="_blank" rel="nofollow" href="https://mcpr.io">https://mcpr.io</a> website and any of its
                products or services (collectively, "Website" or "Services").</p>
            <h4>Representation</h4>

            <p>Any views or opinions represented in this Website belong solely to the Content creators, and do not
                represent
                those of people, institutions or organizations that the MCPR or creators may or may not be associated
                with
                in professional or personal capacity, unless explicitly stated. Any views or opinions are not intended
                to
                malign any religion, ethnic group, club, organization, company, or individual.</p>
            <h4>Content and postings</h4>

            <p>You may not modify, print or copy any part of the Website. Inclusion of any part of this Website in
                another work,
                whether in printed or electronic or other form, or inclusion of any part of the Website in another
                website
                by embedding, framing or otherwise without the express permission of MCPR is prohibited.
            </p>

            <p>You may submit comments for the Content available on the Website. By uploading or otherwise making
                available
                any information to MCPR, you grant MCPR the unlimited, perpetual right to distribute, display, publish,
                reproduce,
                reuse and copy the information contained therein. You may not impersonate any other person through the
                Website.
                You may not post content that is defamatory, fraudulent, obscene, threatening, invasive of another
                person's
                privacy rights or that is otherwise unlawful. You may not post content that infringes on the
                intellectual
                property rights of any other person or entity. You may not post any content that includes any computer
                virus
                or other code designed to disrupt, damage, or limit the functioning of any computer software or
                hardware.</p>

            <p>We are not responsible for any user-generated content and accounts ("Content"). Content submitted express
                the
                views of their author only. </p>
            <p>All Content you submit or upload may be reviewed by staff members. All Content you submit or upload may
                be sent
                to third-party verification services (including, but not limited to, spam prevention services). Do not
                submit
                any Content that you consider to be private or confidential.</p>
            <p>We reserve the rights to remove or modify any Content submitted for any reason without explanation.
                Requests
                for Content to be removed or modified will be undertaken only at our discretion. We reserve the right to
                take action against any account with the Service at any time.
            </p>

            <h4>Compensation</h4>

            <p>Some of the links on the Website may be "affiliate links". This means if you click on the link and
                purchase an
                item, MCPR will receive an affiliate commission.</p>
            <h4>Indemnification and warranties</h4>

            <p>While we have made every attempt to ensure that the information contained on the Website is correct,
                Website
                Operator is not responsible for any errors or omissions, or for the results obtained from the use of
                this
                information. All information on the Website is provided "as is", with no guarantee of completeness,
                accuracy,
                timeliness or of the results obtained from the use of this information, and without warranty of any
                kind,
                express or implied. In no event will MCPR, or its partners, employees or agents, be liable to you or
                anyone
                else for any decision made or action taken in reliance on the information on the Website or for any
                consequential,
                special or similar damages, even if advised of the possibility of such damages. Furthermore information
                contained
                on the Website and any pages linked to from it are subject to change at any time and without warning.
            </p>

            <p>We reserve the right to modify this Disclaimer at any time, effective upon posting of an updated version
                of this
                Disclaimer on the Website. When we do we will revise the updated date at the bottom of this page.
                Continued
                use of the Website after any such changes shall constitute your consent to such changes.
            </p>

            <h4>Affiliation</h4>
            <p>We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with
                Mojang AB,
                Curse, Inc., SpigotMC Pty. Ltd., or any of their subsidiaries or affiliates.</p>

            <h4>Acceptance of this disclaimer</h4>

            <p>You acknowledge that you have read this Disclaimer and agree to all its terms and conditions. By
                accessing the
                Website you agree to be bound by this Disclaimer. If you do not agree to abide by the terms of this
                Disclaimer,
                you are not authorized to use or access the Website.</p>

            <h4>Contacting us</h4>

            <p>If you have any questions about this Disclaimer, please contact us by email at
                <a href="mailto:noah@prail.net">noah@prail.net</a>.</p>

            <p>This document was last updated on May 30, 2018</p>

        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</footer>
