<div class="container">
    <div class="row">
        <div class="center">
            <h3>The Ultimate Minecraft Plugin Registry</h3>

            <auto-complete model="searchTxt" func="searchFunc" property="_id" icon-prefix="search" label="Search" onModelChanged="searchComplete"></auto-complete>

            <br>
            <h4>Popular Plugins</h4>
            <hr>
            <div class="preloader-wrapper big active" ng-show="!loaded">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>

            <div ng-show="noPlugins && loaded">
                <h5>Sorry, there are no plugins...</h5>
            </div>
            <div class="center row" ng-show="loaded">
                <a class="waves-effect waves-light btn" ng-click="showExternal()" ng-hide="externalShown">Show External Plugins</a>
                <a class="waves-effect waves-light btn" ng-click="hideExternal()" ng-show="externalShown">Hide External Plugins</a>
            </div>
            <div ng-repeat="plugin in plugins | orderBy:'-downloads' | limitTo: limit | filter:searchTxt">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <div class="col s6 m4">
                    <div class="card green darken-3 hoverable">
                        <div class="card-content white-text">
                            <span ng-hide="plugin.namespace" class="card-title"><a href="/plugin/{{plugin._id}}">{{plugin.title}}</a></span>
                            <span ng-show="plugin.namespace" class="card-title"><a href="/plugin/{{plugin.namespace}}/{{plugin._id}}">{{plugin.title}}</a> <small>(External)</small></span>
                            <p>{{plugin.short_description}}</p>
                            <br>
                            <small>
                                <b ng-hide="plugin.namespace"><a href="/plugin/{{plugin._id}}">{{plugin.latest_version}}</a></b> 
                                <b ng-show="plugin.namespace"><a href="/plugin/{{plugin.namespace}}/{{plugin._id}}">{{plugin.latest_version}}</a></b> 
                                published 
                                <span ng-show="plugin.external">{{plugin.latest_version_date | momentUnix}}</span>
                                <span ng-hide="plugin.external">{{plugin.latest_version_date | moment}}</span> 

                                <span ng-show="plugin.external">by <b><a href="https://dev.bukkit.org/members/{{plugin.author}}" target="_blank" rel="noopener">{{plugin.author}}</a></b></span>
                                <span ng-hide="plugin.external">by <b><a href="/~{{plugin.author}}">{{plugin.author}}</a></b></span>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="center row">
        <a class="waves-effect waves-light btn" ng-click="loadMore()" ng-show="showLoadMore">Load More</a>
    </div>
</div>
