<footer class="page-footer green darken-4">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">MCPR</h5>
                <p class="grey-text text-lighten-4">A Minecraft plugin registry.</p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l4 s12" style="overflow: hidden;">
                <h5 class="white-text">Connect</h5>
                <iframe src="http://ghbtns.com/github-btn.html?user=hexagonminecraft&amp;repo=mc-registry&amp;type=watch&amp;count=true&amp;size=large"
                    allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
                <br>
                <a class="twitter-follow-button" href="https://twitter.com/Filiosoft">Follow @Filiosoft</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2017 Filiosoft, LLC
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
