<footer class="page-footer green darken-4">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">MCPR</h5>
                <p class="grey-text text-lighten-4">The ultimate Minecraft plugin registry.</p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">HexagonMC</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://HexagonMinecraft.com" target="_blank">HexagonMC</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://mcpr.github.io/mcpr-cli" target="_blank">MCPR-CLI</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://dev.HexagonMinecraft.com" target="_blank">HexagonMC Dev</a></li>
                </ul>
            </div>
            <div class="col l4 s12" style="overflow: hidden;">
                <h5 class="white-text">Connect</h5>
                <iframe src="https://ghbtns.com/github-btn.html?user=mcpr&amp;repo=mcpr&amp;type=watch&amp;count=true&amp;size=large"
                    allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
                <br>
                <a href="https://twitter.com/Filiosoft" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @Filiosoft</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <br>
                <a href="https://mcpr-slack.herokuapp.com"><img src="https://mcpr-slack.herokuapp.com/badge.svg"></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2017 <a href="https://filiosoft.com">Filiosoft, LLC</a>
            <a class="grey-text text-lighten-4 right" href="https://github.com/mcpr/mcpr/blob/master/LICENSE">MIT Licesnse</a>
        </div>
    </div>
</footer>
