<div class="container">
    <div class="row">
        <!-- Needs form validation work!!! -->
        <form class="col s12" name="passwordForm" ng-submit="save(user)">
            <h3>Change Password</h3>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-required required ng-model="user.currentPassword" id="currentPassword" type="password" ng-class="currentValid" class="validate">
                    <label for="currentPassword" data-error="{{currentError}}">Current Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-required required ng-model="user.newPassword" id="newPassword" type="password" ng-class="verifyValid" class="validate">
                    <label for="newPassword">New Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input ng-required required ng-model="user.verifyNewPassword" id="verifyNewPassword" type="password" ng-class="verifyValid" class="validate" >
                    <label for="verifyNewPassword" data-error="{{verifyError}}">Verify New Password</label>
                </div>
            </div>
            <input type="submit" class="btn waves-effect waves-light" value="Change">
        </form>
    </div>

</div>
