<div class="container">
    <div class="row">
        <div class="center">
            <h3>A Minecraft Plugin Registry</h3>

            <form>
                <div class="input-field">
                    <input id="search" type="search" ng-model="search">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                </div>
            </form>
            <br>
            <h4>Popular Plugins</h4>
            <hr>
            <div class="col s4" ng-repeat="plugin in plugins | filter:search">
                <div class="card grey darken-3">
                    <div class="card-content white-text">
                        <span class="card-title"><a href="/plugin/{{plugin._id}}">{{plugin.title}}</a></span>
                        <p>{{short_description}}</p>
                        <small><b><a href="/plugin/{{plugin._id}}">v{{plugin.latest_version}}</a></b> published {{plugin.latest_version_date | moment}} by <b><a href="/user/{{plugin.author}}">{{plugin.author}}</a></b></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>