<div class="container">
    <div class="row">
        <div class="center">
            <h3>A Minecraft Plugin Registry</h3>

            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">search</i>
                        <input id="icon_prefix" type="text" class="validate" ng-model="search">
                        <label for="icon_prefix">Search</label>
                    </div>
                </div>
            </form>
            <br>
            <h4>Popular Plugins</h4>
            <hr>
            <div class="preloader-wrapper big active" ng-show="!loaded">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>

            <div ng-show="noPlugins && loaded">
                <h5>Sorry, there are no plugins...</h5>
            </div>
            <div ng-repeat="plugin in plugins | filter:search">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <div class="col s4">
                    <div class="card green darken-3 hoverable">
                        <div class="card-content white-text">
                            <span class="card-title"><a href="/plugin/{{plugin._id}}">{{plugin.title}}</a></span>
                            <p>{{short_description}}</p>
                            <small><b><a href="/plugin/{{plugin._id}}">{{plugin.latest_version}}</a></b> published {{plugin.latest_version_date | moment}} by <b><a href="/~{{plugin.author}}">{{plugin.author}}</a></b></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
